@import "../../../styles/mixins";

$margin: 8px;
$lineWidth: 2px;

.rf-tabs__navigation {
  position: relative;
  padding-bottom: $margin;
  border-bottom: $lineWidth solid var(--base-300);
}

.rf-tabs__navigation-list {
  display: flex;
  align-items: center;
}

.rf-tabs__navigation-line {
  position: absolute;
  bottom: -$lineWidth;
  left: 0;
  height: $lineWidth;
  background-color: var(--accent-500);

  transition: 0.3s;
}

.rf-tabs__link {
  margin-right: 32px;
}

.rf-tabs__link:last-of-type {
  margin-right: 0;
}

.rf-button.rf-tabs__button {
  font-size: 16px;
  line-height: 20px;
  color: var(--base-400);
}

.rf-button.rf-tabs__button--active {
  color: var(--base-1000);
}

.rf-tabs__content {
  margin-top: $margin;
}

.rf-tabs--buttons {

  .rf-tabs__navigation {
    border-bottom: none;
  }

  .rf-tabs__button {
    @include h5;
    color: var(--base-500);
  }

  .rf-tabs__button--active {
    color: var(--base-1000);
  }

  .rf-tabs__navigation-line {
    height: 4px;
  }

  .rf-tabs__content {
    margin-top: 24px;
  }
}
