.rf-sticky-container {
  position: relative;
  z-index: 100;
  height: 100%;
  background: linear-gradient(to bottom, lightblue, lightgreen);
}

.rf-sticky-element {
  position: -webkit-sticky;
  position: sticky;
}

.rf-sticky-element:before,
.rf-sticky-element:after {
  content: '';
  display: table;
}
