.rf-sticky-container {
  position: relative;
  z-index: 100;
  height: 100%;
  will-change: min-height;
}

.rf-sticky-element {
  transform: translate3d(0%, 0, 0);
  will-change: position, transform;
}
