@import "../../../styles/mixins";

.rf-modal {
  background: transparent;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  z-index: 1000;
}

.rf-modal--darken {
  background: var(--faint-900);
}

.rf-modal__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  min-width: 464px;
  max-width: 90vw;
  max-height: 95vh;
  background: var(--base-000);
  overflow-y: hidden;
}

.rf-modal__content {
  padding: 40px 48px;
  flex-grow: 1;
}

.rf-modal__header {
  font-size: 30px;
  font-weight: 600;
  flex-shrink: 0;
  padding: 50px 50px 0 50px;
}

.rf-modal__close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  z-index: 2;
  color: var(--base-400);
}

.rf-modal__footer {
  flex-shrink: 0;
  padding: 0 50px 50px 50px;
}
