@import "../../../styles/mixins";

.rf-modal-child {
  padding: 20px;
}

.rf-modal-child__title {
  margin-bottom: 20px;
  @include h3();
}

.rf-modal-child__text {
  margin-bottom: 15px;
  @include p1();
}
