@import "../../../styles/mixins";

.rf-switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.rf-switch__toggle {
  width: 40px;
  height: 20px;
  border-radius: 12px;
  position: relative;
  border: 1px solid transparent;
}

.rf-switch__toggle.rf--accent.on {
  background-color: var(--accent-500);
  border-color: var(--accent-500);
}

.rf-switch__toggle.rf--base.on {
  background-color: var(--base-500);
  border-color: var(--base-500);
}

.rf-switch__toggle.rf--info.on {
  background-color: var(--info-500);
  border-color: var(--info-500);
}

.rf-switch__toggle.rf--complement.on {
  background-color: var(--complement-500);
  border-color: var(--complement-500);
}

.rf-switch__toggle.rf--danger.on {
  background-color: var(--danger-500);
  border-color: var(--danger-500);
}

.rf-switch__toggle.rf--warning.on {
  background-color: var(--warning-500);
  border-color: var(--warning-500);
}

.rf-switch__toggle.rf--success.on {
  background-color: var(--success-500);
  border-color: var(--success-500);
}

.rf-switch__toggle.off {
  background-color: var(--base-200);
  border-color: var(--base-300);
}

.rf-switch__circle {
  position: absolute;
  top: 1px;
  left: 2px;
  @include round(16px);
  background-color: var(--base-000);
  transition: 0.15s ease-in-out;
}

.rf-switch__toggle.off .rf-switch__circle {
  transform: translateX(0);
}

.rf-switch__toggle.on .rf-switch__circle {
  transform: translateX(18px);
}

.rf-switch__label {
  margin-left: 10px;
  @include p1;
  user-select: none;
}

//.rf-switch:hover {
//  .rf-switch__toggle.on {
//    background-color: var(--accent-400);
//    border-color: var(--accent-400);
//  }
//
//  .rf-switch__toggle.off {
//    background-color: var(--accent-200);
//    border-color: var(--accent-500);
//  }
//}

.rf-switch--disable {

  .rf-switch__toggle {
    cursor: default;
  }

  .rf-switch__toggle.on {
    background-color: var(--base-300);
    border-color: var(--base-300);
  }

  .rf-switch__toggle.off {
    background-color: var(--base-100);
    border-color: var(--base-200);
  }
}
