// Неактивное состояние элемента
@mixin disabled() {
  cursor: default;
  pointer-events: none;
}

// Визуально скрыть
@mixin hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

// ------------------

// Заголовки

@mixin h {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: var(--base-1000);
}

@mixin h1 {
  @include h;
  font-size: 36px;
  line-height: 48px;
}

@mixin h2 {
  @include h;
  font-size: 32px;
  line-height: 40px;
}

@mixin h3 {
  @include h;
  font-size: 30px;
  line-height: 40px;
}

@mixin h4 {
  @include h;
  font-size: 26px;
  line-height: 32px;
}

@mixin h5 {
  @include h;
  font-size: 22px;
  line-height: 32px;
}

@mixin h6 {
  @include h;
  font-size: 18px;
  line-height: 24px;
}

// Подзаголовки

@mixin s {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: var(--base-1000);
  line-height: 24px;
}

@mixin s1 {
  @include s;
  font-size: 15px;
}

@mixin s2 {
  @include s;
  font-size: 13px;
}

// Тексты

@mixin t {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--base-1000);
}

@mixin p1 {
  @include t;
  font-size: 15px;
  line-height: 20px;
}

@mixin p2 {
  @include t;
  font-size: 13px;
  line-height: 18px;
}

@mixin c1 {
  @include t;
  font-size: 12px;
  line-height: 16px;
}

@mixin c2 {
  @include t;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@mixin label {
  @include t;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

// Кнопки

@mixin button {
  font-style: normal;
  font-weight: 500;
}

@mixin buttonGiant {
  @include button;
  font-size: 18px;
  line-height: 24px;
}

@mixin buttonLarge {
  @include button;
  font-size: 16px;
  line-height: 20px;
}

@mixin buttonMedium {
  @include button;
  font-size: 14px;
  line-height: 16px;
}

@mixin buttonSmall {
  @include button;
  font-size: 12px;
  line-height: 16px;
}

@mixin buttonTiny {
  @include button;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
}

// Прочее

@mixin round($r) {
  width: $r;
  height: $r;
  min-width: $r;
  min-height: $r;
  border-radius: 50%;
}
