// Размеры радиусов
$xs-radius: 10px;
$sm-radius: 15px;
$m-radius: 20px;
$l-radius: 25px;
$xl-radius: 40px;

// Брейкпоинты
$mobile: 320px;
$mobileLarge: 700px;
$tablet: 768px;
$desktopMin: 1024px;
$desktopMiddle: 1280px;
$desktop: 1440px;

// ------------------------------------------------------------------------------------
