#======================================
# Directories
#--------------------------------------
node_modules/
build/
report/
dist/
.cache/

#======================================
# Testing
#--------------------------------------
coverage/

#======================================
# Extensions
#--------------------------------------
*.csv
*.gz
*.zip
*.tgz

#======================================
# Logs
#--------------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

#======================================
# IDE generated
#--------------------------------------
.idea/
.vscode/
.project
*.iml

#======================================
# OS generated
#--------------------------------------
__MACOSX/
__diff_output__
Thumbs.db

#======================================
# Misc
#--------------------------------------
._*
*~
.DS_Store
/.pnp
.pnp.js
yarn.lock
__TMP__

#======================================
# Builders
#--------------------------------------
package-lock.json
yarn.lock

#======================================
# Builders
#--------------------------------------
archive/
interfaces/