@import "../../../styles/mixins";

.rf-list {
  min-width: 150px;
  padding: 24px 0;
}

.rf-li {
  list-style: none;
  width: 100%;
}

.rf-list__element {
  display: block;
  text-align: left;
  padding: 8px 24px;
  cursor: pointer;
  transition: 0.15s;
  background-color: var(--base-000);
  @include p1;
  white-space: nowrap;
}

.rf-list__element--disabled {
  color: var(--base-500);
  cursor: default;
  pointer-events: none;
}

.rf-list__separator {
  width: 100%;
  height: 1px;
  background-color: var(--base-200);
  margin: 8px 0;
}

.rf-list__element:hover {
  background-color: var(--base-150);
}
