@import "../../../../styles/mixins";

.feedback-popup {
  width: 648px;
  cursor: default;
}

.feedback-popup__title {
  @include h4;
  margin-bottom: 8px;
}

.feedback-popup__subtitle {
  @include p1;
  color: var(--base-500);
}

.feedback-popup__subtitle--link {
  color: var(--accent-500);
  margin-left: 4px;
}

.feedback__group {
  margin-bottom: 32px;
}

.feedback__separator {
  margin: 16px -48px;
  width: calc(100% + 96px);
  height: 1px;
  background-color: var(--base-200);
}

.feedback__rating {
  width: 312px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: var(--base-100);
  padding: 16px;
}

.feedback__star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--base-300);
  cursor: pointer;
}

.feedback__star:last-of-type {
  margin-right: 0;
}

.feedback__star:not(.feedback__star--active):hover {
  color: var(--warning-400);
}

.feedback__star--active {
  color: var(--warning-400);
}

.feedback__group-error {
  @include p2;
  margin-top: 8px;
  color: var(--danger-500)
}

.feedback__action {
  margin-right: 24px;
}

.feedback__action:last-of-type {
  margin-right: 0;
}

.feedback__file-notifications {
  margin-top: 8px;
}

.feedback__file-notification {
  @include c1;
  color: var(--base-500);
}
