@import "../../../styles/mixins";

.file-input__wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.file-input__wrapper .rf-input {
  width: auto;
  flex-shrink: 0;
}

.file-input__chips {
  margin-left: 32px;
  width: 100%;
}
