@import "../../../styles/mixins";

.preloader {
  @include round(30px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader.rf--small {
  @include round(32px);
}

.preloader.rf--medium {
  @include round(40px);
}

.preloader.rf--big {
  @include round(48px);
}

.preloader__circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--base-200);
  animation: spin 0.8s linear infinite;
}

.preloader--small .preloader__circle {
  border-width: 1px;
}

@keyframes spin {

  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.preloader.rf--base .preloader__circle {
  border-top-color: var(--base-500);
}

.preloader.rf--accent .preloader__circle {
  border-top-color: var(--accent-500);
}

.preloader.rf--info .preloader__circle {
  border-top-color: var(--info-500);
}

.preloader.rf--complement .preloader__circle {
  border-top-color: var(--complement-500);
}

.preloader.rf--danger .preloader__circle {
  border-top-color: var(--danger-500);
}

.preloader.rf--warning .preloader__circle {
  border-top-color: var(--warning-500);
}

.preloader.rf--success .preloader__circle {
  border-top-color: var(--success-500);
}
