@import "../../../styles/mixins";

.rf-textarea__wrapper {
  width: 100%;
}

.rf-textarea-field {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 20px;
  transition: 0.3s ease-in all;

  @include p1;
  border: 1px solid var(--base-300);
}

.rf-textarea-field::placeholder {
  @include p1;
  color: var(--base-500);
}

.rf-textarea-field:hover {
  border-color: var(--accent-300);
}

.rf-textarea-field:focus {
  border-color: var(--accent-500);
}

.rf-textarea-field:disabled {
  cursor: default;
  background-color: var(--base-100);
  border-color: var(--base-300);
  color: var(--base-300);
}

.rf-textarea-field.invalid {
  border-color: var(--danger-500);
}

.rf-textarea__max-length {
  @include p2;
  margin-top: 4px;
  text-align: right;
}
