@import "../../../styles/mixins";

.rf-menu {
  position: relative;
  display: inline-flex;
}

.rf-menu__content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: var(--base-000);
  box-shadow: var(--basic-shadow-long);
  border-radius: 8px;
  overflow: hidden;
}

.rf-menu__content--show {
  display: block;
}
