@import "src/styles/mixins";

.rf-datepicker__calendar {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 296px;
  height: 296px;
  padding: 16px 8px;
  background-color: var(--base-000);
  box-shadow: 0 2px 6px rgba(25, 59, 104, 0.15);
  border-radius: 4px;
  cursor: default;
}

.rf-datepicker__calendar-header {
  display: flex;
  align-items: center;
}

.rf-calendar__control {
  display: flex;
  align-items: center;
}

.rf-calendar__button {
  width: 24px;
  min-width: 24px;
  height: 24px;
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rf-datepicker__calendar-right {
  transform: rotate(180deg);
}

.rf-calendar__label-button {
  width: auto;
  height: auto;
  padding: 0 8px;
}

.rf-datepicker__calendar-label {
  min-width: 100px;
  @include s2;
  text-transform: capitalize;
}

.rf-datepicker__calendar-today {
  margin-left: auto;
  outline: 0;
  border: 0;
  background-color: transparent;
  @include s2;
  color: var(--accent-500);
  cursor: pointer;
}

.rf-datepicker__calendar-week {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--base-200);
  border-bottom: 1px solid var(--base-200);
  margin-top: 8px;
  padding: 4px;
}

.rf-datepicker__calendar-week-day {
  @include c1;
  color: var(--base-500);
  margin-right: 8px;
}

.rf-datepicker__calendar-week-day:last-of-type {
  margin-right: 0;
}

.rf-datepicker__calendar-tile {
  width: 32px;
  min-width: 32px;
  height: 32px;
  border: 1px solid transparent;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.rf-datepicker__calendar-periods {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  cursor: pointer;
}

.rf-datepicker__calendar-date {
  margin-right: 8px;
  @include s1;
}

.rf-datepicker__calendar-date--active {
  background-color: var(--accent-200);
  border: 1px solid var(--accent-500);
}

.rf-datepicker__calendar-date:not(.rf-datepicker__calendar-date--active):hover {
  background-color: var(--accent-100);
}

.rf-datepicker__calendar-day:nth-child(7n) {
  margin-right: 0;
}

.rf-datepicker__calendar-day--prev {
  @include p2;
  color: var(--base-500);
}

.rf-datepicker__calendar-day--next {
  @include p2;
  color: var(--base-500);
}

.rf-datepicker__calendar-month {
  width: auto;
  text-transform: capitalize;
}

.rf-datepicker__calendar-year {
  width: auto;
}
