@import "./src/styles/mixins";

.rf-form-group {
  width: 100%;
}

.rf-form-group__label {
  margin-bottom: 10px;
  @include c1;
  color: var(--base-1000);
}

.rf-form-group__message {
  margin-top: 4px;
  @include c1;
  color: var(--danger-500);
}

.rf-form-group__required {
  color: var(--danger-500);
}
