.rf-page__with-list {
  display: flex;
}

.rf-page__aside-filters {
  position: relative;
  min-width: 280px;
  width: 280px;
  margin-right: 32px;
}

.rf-page__aside-filters-inner {
  background: var(--base-100);
  box-shadow: 0 2px 6px rgba(25, 59, 104, 0.15);
  border-radius: 4px;
  padding: 24px 16px;
}

.rf-page__main {
  width: 100%;
}

.rf-page__main-action-menu {
  box-sizing: content-box;
  padding: 0 16px 24px;
  height: 40px;
  max-width: 904px;
  width: calc(100% - 360px);
  position: fixed;
  left: 336px;
  background-color: var(--base-150);
  z-index: 999;
}

.rf-page__main-action-menu--no-filters {
  width: calc(100% - 48px);
  left: 24px;
}

.rf-page__main-action-menu--hidden {
  height: 0;
  padding-bottom: 0;
}

.rf-page__main-action-menu-inner {
  position: relative;
}

.rf-page__action-menu-divider--list {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--base-200);
  position: absolute;
  bottom: -24px;
  opacity: 0;
}

.rf-page__main-action-menu--hidden .rf-page__action-menu-divider--list {
  width: calc(100% - 32px);
  bottom: 0;
}
