@import "./src/styles/mixins";

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb__link {
  @include s1;
  color: var(--accent-500);
}

.breadcrumb__angle {
  margin: 0 4px;
  transform: rotate(-90deg);
  color: var(--base-500);
}

.breadcrumb:last-of-type .breadcrumb__angle {
  display: none;
}

.breadcrumb__link--disabled {
  pointer-events: none;
}