@import "../../../styles/mixins";

.expander__title {
  width: 100%;
  display: flex;
  align-items: center;
  @include s1;
  color: var(--accent-500);
  cursor: pointer;
}

.expander__title-text {
  margin-right: 8px;
}

.expander__icon {
  transition: 0.4s;
}

.expander__icon--rotate {
  transform: rotate(180deg);
}

.expander__content {
  margin-top: 16px;
  display: none;
}

.expander__content--active {
  display: block;
}

.expander--disabled > .expander__title > .expander__icon {
  display: none;
}

.expander--disabled > .expander__title > .expander__title-text {
  display: block;
  width: 100%;
  margin-right: 0;
  cursor: default;
}
