.rf__backdrop-loader {
  background: var(--faint-900);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  z-index: 1000;
}

.rf__backdrop-loader .preloader__circle {
  border-color: transparent;
}
