@import "src/styles/mixins";

.rf-folder__item {
  position: relative;
  margin-bottom: 16px;
}

.rf-folder__item-label {
  @include p2;
  display: inline-flex;
}

.rf-folder__item-folder:not(.rf-folder__item-folder--hidden) {
  margin-top: 16px;
}

.rf-folder__item-label-icon {
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin-right: 16px;
  transition: transform 0.15s;
  color: var(--base-500);
}

.rf-folder__item-label-icon--rotate {
  transform: rotate(-90deg);
}

.rf-folder__item-label-icon--hidden {
  opacity: 0;
}

.rf-folder__item--no-children .rf-folder__item-label-icon {
  opacity: 0;
}

.rf-folder__item-folder--hidden {
  display: none;
}
//
//.rf-folder__item-label:hover > .rf-radio .rf-radio__label {
//  color: var(--accent-500);
//}
//
//.rf-folder__item--active .rf-radio__label {
//  color: var(--accent-500);
//}
