@import "../../../../styles/mixins";

.app__header {
  position: relative;
  z-index: 2;
  width: 100%;
  box-shadow: none;
  background-color: var(--base-000);
}

.app__header--shadow {
  box-shadow: var(--basic-shadow);
}

.app__header-content {
  padding: 12px 0;
  display: flex;
  align-items: center;
}

.app-header__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.app-header__logo-icon {
  color: var(--info-500);
}

.app-header__logo-name {
  margin-left: 8px;
  @include h5;
  color: var(--accent-900);
  white-space: nowrap;
}

.app__header-content-wrapper {
  width: 100%;
  margin: 0 40px;

  display: flex;
  align-items: center;
}

.header__login-button {
  margin-left: auto;
}

.header-menu__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.header-menu__user .rf-menu {
  height: 100%;
}

.header-menu__user .rf-menu__toggle {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
