@import "../../../styles/mixins";
@import "../../../styles/variables";

.rf-time-element__item-row {
  display: flex;
  margin-bottom: 16px;
}

.rf-time-element {
  box-sizing: border-box;
  @include s1;
  margin-right: 16px;
  letter-spacing: normal;
}

.rf-time-element__wrapper {
  max-width: 240px;
}

.rf-time-element__header-container {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.rf-time-element__translate {
  width: 200%;
  transition: transform 0.2s ease-in;
  display: flex;
}

.element__translate--active {
  transform: translateX(-50%);
}

.rf-time-element__column {
  width: 100%;
  padding: 16px;
}

.rf-time-element__name {
  @include s2;
}

.rf-time-element__icon {
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
}

.rf-time-element:last-of-type {
  margin-right: 0;
}

.rf-time-element__item-row:last-of-type {
  margin-bottom: 0;
}
