@import "../../../styles/mixins";

.rf-checkbox {
  display: inline-flex;
  cursor: pointer;
}

.rf-checkbox--flex-start {
  align-items: flex-start;
}

.rf-checkbox--center {
  align-items: center;
}

.rf-checkbox--flex-end {
  align-items: flex-end;
}

.rf-checkbox__input {
  position: absolute;
  top: -99999px;
  left: -9999px;
  opacity: 0;
}

@mixin checkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 3px;
  background-color: var(--faint-100);
  border: 1px solid var(--base-300);

  transition: background-color 0.15s ease-in;
}

.rf-checkbox__check {
  @include checkBox;
}

.rf-checkbox__half-check {
  @include checkBox;
  color: var(--base-000);
}

.rf-checkbox__mark {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.15s ease-in opacity;
  color: var(--base-000);
}

.rf-checkbox__label {
  width: 100%;
  margin-left: 10px;
  @include p1;
  transition: 0.15s ease-in color;
}

// Hover
.rf-checkbox:not(.disabled):hover > .rf-checkbox__input:not(:checked) ~ .rf-checkbox__check {

  &.rf--base {
    background-color: var(--base-200);
    border-color: var(--base-500);
  }

  &.rf--accent {
    background-color: var(--accent-200);
    border-color: var(--accent-500);
  }

  &.rf--info {
    background-color: var(--info-200);
    border-color: var(--info-500);
  }

  &.rf--complement {
    background-color: var(--complement-200);
    border-color: var(--complement-500);
  }

  &.rf--danger {
    background-color: var(--danger-200);
    border-color: var(--danger-500);
  }

  &.rf--warning {
    background-color: var(--warning-200);
    border-color: var(--warning-500);
  }

  &.rf--success {
    background-color: var(--success-200);
    border-color: var(--success-500);
  }
}

// Focus

.rf-checkbox__input:focus ~ .rf-checkbox__label {
  color: var(--base-1000);
}

.rf-checkbox__input:focus ~ .rf-checkbox__check {
  outline: 2px solid var(--accent-200);
}

// Checked

.rf-checkbox__half-check,
.rf-checkbox__input:checked + .rf-checkbox__check {

  &.rf--base {
    background-color: var(--base-500);
    border-color: var(--base-500);
  }

  &.rf--accent {
    background-color: var(--accent-500);
    border-color: var(--accent-500);
  }

  &.rf--info {
    background-color: var(--info-500);
    border-color: var(--info-500);
  }

  &.rf--complement {
    background-color: var(--complement-500);
    border-color: var(--complement-500);
  }

  &.rf--danger {
    background-color: var(--danger-500);
    border-color: var(--danger-500);
  }

  &.rf--warning {
    background-color: var(--warning-500);
    border-color: var(--warning-500);
  }

  &.rf--success {
    background-color: var(--success-500);
    border-color: var(--success-500);
  }
}

.rf-checkbox__input:checked + .rf-checkbox__check .rf-checkbox__mark {
  opacity: 1;
}

.rf-checkbox__input:checked ~ .rf-checkbox__label {
  color: var(--base-1000);
}

.rf-checkbox__input:disabled ~ .rf-checkbox__label:not(.rf-checkbox__label--node) {
  cursor: default;
  pointer-events: none;
  color: var(--base-1000);
}

// Disabled

.rf-checkbox.disabled {
  cursor: default;
}

.rf-checkbox.disabled + .rf-checkbox__check,
.rf-checkbox__input:disabled + .rf-checkbox__check {
  background-color: var(--base-100);
  border-color: var(--base-200);
}

.rf-checkbox__input:disabled:checked + .rf-checkbox__check {
  background-color: var(--base-300);
  border-color: var(--base-300);
}

.rf-checkbox.disabled + .rf-checkbox__check:not(.rf-checkbox__check--node),
.rf-checkbox__input:disabled + .rf-checkbox__check:not(.rf-checkbox__check--node),
.rf-checkbox__input:disabled:checked + .rf-checkbox__check:not(.rf-checkbox__check--node) {
  @include disabled();
}

.rf-checkbox.disabled ~ .rf-checkbox__label:not(.rf-checkbox__label--node),
.rf-checkbox__input:disabled ~ .rf-checkbox__label:not(.rf-checkbox__label--node) {
  @include disabled();
  color: var(--base-1000);
}

.rf-checkbox.disabled:hover ~ .rf-checkbox__label:not(.rf-checkbox__label--node),
.rf-checkbox__input:disabled:hover ~ .rf-checkbox__label:not(.rf-checkbox__label--node) {
  color: var(--base-1000);
}

.rf-checkbox__children {
  padding-left: 30px;
}

.rf-checkbox.hidden {
  display: none;
}
