@import "src/styles/mixins";

.rf-page {
  max-width: 1368px;
  padding: 0 40px 40px;
  background-color: var(--base-150);
}

.rf-page__header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: var(--base-150);
  z-index: 999;
}

.rf-page__header-inner {
  height: 100%;
  width: 100%;
  max-width: 1368px;
  padding: 0 40px;
}

.rf-page__header-wrapper {
  display: flex;
  align-items: center;
}

.rf-page__header-back {
  margin-right: 8px;
}

.rf-page__title {
  @include h4;
}

.rf-page__user {
  margin-left: auto;
}

.rf-page__header-back {
  color: var(--accent-500);
}

.rf-page__tabs {
  margin-top: 32px;
}

.sb-show-main.sb-main-padded {
  padding: 0 !important;
  background-color: var(--base-150);
}
