@import "src/styles/mixins";

.rf-page {
  max-width: 1368px;
  padding: 0 40px 40px;
  margin: 0 auto;
  background-color: var(--base-150);
}

.rf-page__header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: var(--base-150);
}

.rf-page__header-inner {
  height: 100%;
  width: 100%;
  max-width: 1368px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.rf-page__header-back {
  margin-right: 8px;
}

.rf-page__title {
  @include h4;
}

.rf-page__user {
  margin-left: auto;
}

.rf-page__header-back {
  color: var(--accent-500);
}

.rf-page__content--sections {
  display: flex;
}

.rf-page__section {
  margin-bottom: 48px;
}

.rf-page__section:last-of-type {
  margin-bottom: 0;
}

.rf-page__content-sections {
  max-width: 904px;
  width: 100%;
}

.rf-page__section-title {
  @include h6;
  margin-bottom: 16px;
}

.rf-page__content-aside {
  position: fixed;
  width: 192px;
  right: 40px;
}

@media (max-width: 1200px) {
  .rf-page__content-aside {
    display: none;
  }
}

.rf-page__aside-inner {
  display: flex;
  width: 100%;
}

.rf-page__aside-nav {
  display: flex;
  flex-direction: column;
}

$asideLinkHeight: 42px;

.rf-page__aside-link {
  width: 100%;
  height: $asideLinkHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include p2;
  cursor: pointer;
}

.rf-page__aside-bar {
  position: relative;
  width: 2px;
  flex-shrink: 0;
  background-color: var(--base-200);
  margin-right: 38px;
  border-radius: 2px;
}

.rf-page__aside-slider {
  width: 100%;
  height: $asideLinkHeight;
  background-color: var(--accent-500);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
}

.sb-show-main.sb-main-padded {
  padding: 0 !important;
}
